@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

p, a, div, span, button, input {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

.text-center {
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
    color: #E74101;
}

.wpp-logo {
    position: fixed;
    bottom: 25px;
    right: 25px;
    font-size: 35px;
    color: #ffffff; 
    background-color: #25d366;
    border-radius: 50%; 
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
    z-index: 10000;
}

.wpp-logo:hover {
    animation: bounce-scale 0.8s ease-in-out; /* Animação de bounce com scale */
}

@keyframes bounce-scale {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0) scale(1); /* Posição inicial */
    }
    40% {
        transform: translateY(-10px) scale(1.1); /* Salto para cima com aumento de escala */
    }
    60% {
        transform: translateY(-5px) scale(1.05); /* Retorno parcial com leve redução na escala */
    }
}
.message-container {
    position: fixed; /* Mantém o contêiner fixo no canto superior direito da tela */
    top: 22vh;
    right: 20px;
    width: fit-content;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-box {
    position: relative;
    width: fit-content;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 2px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1000;
}

.message-box.show {
    opacity: 1;
    visibility: visible;
}

.bg-danger {
    background-color: #e70101;
}

.bg-success {
    background-color: #01e727;
}

.resp-wrap {
    display: none;
    margin-top: -20px;
}

.text-orange {
    color: #e74201b4;
}

<<<<<<< HEAD
.text-dark-orange {
    color: #511700;
}

=======
>>>>>>> 1aac934648e86b049e446383b0908730ebd2717d
.text-danger {
    color: #e70101 !important;
}

.stock-check {
    color: #E74101;
}

.opaque {
    opacity: 0.6 !important;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75% !important;
}

.w-50 {
    width: 50% !important;
}

.w-25 {
    width: 25% !important;
}

.color-lightgrey {
    color: #949494;
}

.d-flex {
    display: flex;
}

.content-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-top-padding {
    padding-top: 170px;
    background-color: #f7f7f7;
}

.banner-container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    outline: none;
}

.banner {
    width: auto;
    height: 100%;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.banner-content {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}


.explore-button {
    width: 50%;
    height: 40px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.7s ease;
    font-weight: bold;
}

.explore-button:hover {
    background-color: #ffffff;
    color: rgba(24, 26, 29, 1);
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: 13px 0;
    transition: padding 0.3s ease;
    color: #4d4f51;
    position: fixed;
    z-index: 3;
}

.nav-top {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
    padding: 0 80px;
}

.icon-img {
    width: 40px;
    display: block;
    transition: display 0.3s ease;
    opacity: 0.6;
}

.nav-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 15px;
    transition: height 0.3s ease;
    justify-content: center;
    margin-top: 10px;
    height: 40px;
    width: 100%;
    border-top: 1px solid #414141;
}

.categ-icon {
    height: 50px;
}

.more-categories {
    position: relative;
    height: 50px;
    width: 160px;
    cursor: pointer;
    background-color: #E74101;
}

.more-categories .categ-name small {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 15px;
}

.more-categories .categ-name small ion-icon{
    font-size: 18px;
}

.categ-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
}

.categ-wrap:hover .categ-name {
    color: #FFB786;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 90%;
    width: 30vw;
    overflow-y: auto;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 99999;
    list-style: none;
    padding: 0;
    margin: 0;
    height: fit-content;
}

.account .dropdown-menu {
    height: fit-content;
}

.dropdown-menu::-webkit-scrollbar {
    width: 1px; 
}

.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 5px; 
}

.dropdown-menu::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px; 
}

.dropdown-menu li {
    padding: 12px 16px;
    position: relative; /* Adicionado */
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.more-categories:hover .dropdown-menu {
    display: block;
}

.subdropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    height: auto;
    width: 100%;
    overflow-y: auto;
    background-color: #f1f1f1;
    z-index: 3;
    list-style: none;
    padding: 0;
    margin: 0;
}

.subdropdown-menu::-webkit-scrollbar {
    width: 1px; 
}

.subdropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 5px; 
}

.subdropdown-menu::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px; 
}

.subdropdown-menu li {
    padding: 12px 16px;
}

.subdropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

.subdropdown-menu li:hover {
    background-color: #e9e9e9;
}

.subdropdown-link {
    width: 50%;
}

.subdropdown-link:hover .subdropdown-menu {
    display: block;
}

.categ-name {
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
}

.nav-logo {
    width: 300px;
    transition: all 1.2s ease;
    /* filter: invert(100%) brightness(1000000%); */
}

.logo-menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-item {
    padding: 12px 16px;
    color: #333;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Tom escurecido */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 100;
}

.sidebar {
    padding: 30px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    overflow: auto;
    transform: translateX(200%);
    transition: transform 0.3s ease-in-out;
    z-index: 150;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sidebar.active {
    transform: translateX(0);
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.side-account {
    border-top: 1px solid #ccc;
}

.side-categories ul.dropdown-menu-side {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #4d4f51;
}

.caret-down {
    transition: all 0.4s ease;
}

.parent-category.open .dropdown-toggle .caret-down {
    transform: rotate(-180deg);
}

.dropdown-toggle {
    height: 50px;
    width: 100%;
    color: #4d4f51;
    display: flex;
    gap: 15px;
}

.side-subcategory {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.side-subcategory a {
    color: #949494;
    font-size: 14px;
}

.side-cubcategory a {
    color: #4d4f51;
}

.side-categories ul.dropdown-menu-side ul.dropdown-menu-side {
    max-height: 0;
    overflow: hidden;
    padding-left: 40px;
    width: 100%;
    transition: max-height 0.4s ease;
}

.parent-category.open > ul.dropdown-menu-side {
    max-height: fit-content;
    /* border-top: 1px solid #ccc; */
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.2), 
                inset 0 -8px 8px -8px rgba(0, 0, 0, 0.2);

}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #e74201b4;
    font-weight: bold;
    padding: 10px 0;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #E74101;
    transition: all 0.5s;
    transform: translateX(-50%);
}

.nav-link:hover {
    opacity: 0.7;
}

.nav-link:hover::after {
    width: 30px;
    opacity: 0.7;
}

.navbar-menu {
    display: none;
    font-size: 35px;
    color: #333;
    cursor: pointer;
}

.close-sidebar {
    font-size: 35px;
    color: #333;
    cursor: pointer;
}

.right-container {
    display: flex;
    align-items: center;
    width: fit-content;
    color: #0a0a0a;
}

.separator {
    width: 1px;
    border-radius: 5px;
    height: 20px;
    background-color: #eee;
    border-radius: 3px;
    margin: 0 15px 0 15px;
}

.search-input {
    position: relative;
    display: inline-block;
    width: 600px;
    transition: all 1.2s ease;
}

.searchbar {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 2px 20px;
    font-size: 16px;
    transition: all 1.2s ease;
    background-color: #000000;
    color: #909090; 
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    font-size: 16px; 
    color: #909090; 
}

.searchbar:focus {
    border: none;
    outline: none;
    opacity: 0.9;
}

.login-link {
    display: flex;
    transition: all 1.2s ease;
    align-items: center;
    justify-content: center;
    height: 40px;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
    color: #909090;
    cursor: pointer;
}

.login-link:hover {
    opacity: 0.8;
}

.footer {
    width: 100%;
    height: fit-content;
    padding: 10px 0 20px 0;
    background-color: #252525;
    z-index: 2;
    border-top: 3px solid #E74101;
}

.company-info {
    margin-top: 20px;
    color: #fff;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer-top {
    padding: 20px 40px 0 20px;
    font-size: 14px;
}

.footer-img {
    width: 10%;
}

.footer-company {
    color: #E74101;
    opacity: 0.7;
    margin-bottom: 20px;
    text-align: center;
}

.privacy-terms {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4d4f51;
    padding: 15px 0 0 0;
    gap: 8px;
    border-top: 1px solid #4d4f51;
    margin-top: 15px;
    background-color: transparent;
}

.privacy-terms a {
    color: #4d4f51;
}

.info-items {
    list-style: none;
    font-size: 0.9em;
}

.info-item {
    padding: 3px;
    text-align: center;
}

.company-contact {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.company-contact h4 {
    margin-bottom: 8px;
}

.contact-input {
    width: 100%;
    border-radius: 6px;
    height: 40px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc; 
}

.contact-submit {
    background-color: #E74101;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.contact-section {
    height: 100%;
    flex-direction: column;
    display: flex;
    width: 30%;
}

.message-input {
    height: 150px;
    border-radius:8px;
    margin-bottom: 10px;
    padding: 10px 10px 5px 10px;
    border: 1px solid #ccc; 
}

.product-card {
    opacity: 1;
    width: 23%; 
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    overflow: hidden;
    cursor: pointer;
    margin: 20px 5px;
    transition: all 0.2s ease-in-out, transform 0.2s ease-in-out;
    border: 2px solid #4d4f5117;
    position: relative;
    box-sizing: border-box;
    min-height: 58vh;
    height: auto;
    background-color: #ffffff;
}

.product-card:hover {
    scale: 1.03;
    background-color: #ffffff;
    border: 2px solid #4d4f5152;
    box-shadow: 0 5px 12px #bebebe;
}

.product-card.opaque:hover {
    scale: 1;
    background-color: #ffffff;
    border: 2px solid #4d4f5117;
    box-shadow: none;
}

.product-image {
    height: 250px;
    object-fit: contain;
}

.product-img-container {
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 20px 0 20px;
}

.product-info {
    padding: 10px;
    text-align: center;
    width: 100%;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    font-size: 1em;
    margin: 10px 0;
    color: #511700;
    min-height: 60px;
}

.product-description {
    font-size: 1em;
    width: 100%;
    display: flex;
    max-height: 60px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px !important;
    flex-grow: 1;
}

.product-description small{
    color: #ffffff;
    background-color: #555;
    padding: 8px;
    border-radius: 5px;
    width: fit-content;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.product-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-button:hover {
    background-color: #555;
}

.watermark {
    position: absolute;
    top: 20px;  
    right: 20px;   
    width: 50px;  
    opacity: 0.8;  
    z-index: 2;
}

@keyframes zoomOutSmooth {
    0% {
        transform: scale(1.15);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomInSmooth {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.04);
        opacity: 1;
    }
}

.image-container {
    background-color: #0a0a0a;
    height: 100vh;
    padding-top: 100px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #E74101;
    opacity: 0.9;
}

.animate__zoomOutSmooth {
    animation: zoomOutSmooth 3.5s ease-out forwards;
    height: 100%;
}

.zoom-in {
    animation: zoomInSmooth 0.5s ease-out forwards;
}

.zoom-out {
    animation: zoomOutSmooth 0.5s ease-out forwards;
}

@media (max-width: 1700px) {
    
    .product-card {
        min-height: 75vh;
    }
    
}

@media (max-width: 1450px) {

    .product-card {
        min-height: 60vh;
    }
    
    .nav-bot {
        gap: 10px;
    }

    .categ-wrap {
        padding: 0 10px;
    }

    .categ-name {
        font-size: 13px;
    }

    .product-image {
        height: 225px;
    }
}

@media (max-width: 1025px) {

    .nav-top {
        padding: 0;
    }

    .search-input {
        max-width: 600px !important; 
    }

    .product-image {
        height: 170px;
    }

    .product-name {
        font-size: 0.8em;
    }
    
    .product-description {
        font-size: 0.7em;
    }

    .footer-img {
        width: 20%;
    }

    .footer-top {
        padding: 30px 130px 30px 130px;
    }

}

@media (max-width: 768px) {

    .logo-menu-container {
        width: 100%;
    }

    .banner {
        margin-left: 85px;
    }

    .banner-content {
        width: 70%;
    }

    .product-card {
        min-height: 50vh;
        width: 48%; 
    }

    .product-name {
        font-size: 0.9em;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .contact-section, .company-contact {
        width: 100%;
    }

    .footer {
        height: auto;
    }

    .right-container, .nav-bot {
        display: none;
    }

    .nav-top {
        flex-direction: column;
    }

    .nav-logo {
        width: 190px !important;
    }

    .navbar {
        padding: 13px 40px !important;
    }

    .navbar-menu {
        display: block;
    }

    .footer-top {
        padding: 30px 50px 30px 50px;
    }

    .footer-img {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }

    .company-info {
        font-size: 0.7em;
    }

    .nav-top-padding {
        padding-top: 100px;
    }
    
}

@media (max-width: 500px) {
    
    .nav-top form {
        width: 100%;
    }

    .search-input {
        max-width: 100% !important;
    }

    .banner {
        width: 170%;
        height: auto;
        margin-left: 60px;
    }

    .image-container {
        height: 88vh;
    }

    .watermark {
        width: 30px;  
    }

    .product-image {
        height: 150px;
    }

    .product-card {
        min-height: 50vh;
        width: 46%; 
    }

    .product-name {
        font-size: 0.7em;
    }

    .product-description small{
        font-size: 0.5em;
    }

    .product-description {
        padding-bottom: 10px !important;
    }

    .navbar {
        padding: 15px 10px !important;
    }

    .navbar-menu {
        font-size: 35px !important;
    }

    .nav-logo {
        width: 150px !important;
    }

    .footer {
        padding: 30px 20px;
    }

    .privacy-terms {
        font-size: 0.8em;
    }
    
}

@media (max-width: 415px) {
    
    .product-card {
        width: 90%;
        min-height: 40vh;

    }

    .products-section {
        justify-content: center;
    }
    
}
