@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

p, a, div, span, button, input {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

.text-center {
    text-align: center;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #1b1b1b;
}

::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
    color: #E74101;
}

.message-container {
    position: fixed; /* Mantém o contêiner fixo no canto superior direito da tela */
    top: 22vh;
    right: 20px;
    width: fit-content;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.message-box {
    position: relative;
    width: fit-content;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 2px;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1000;
}

.message-box.show {
    opacity: 1;
    visibility: visible;
}

.bg-danger {
    background-color: #e70101;
}

.bg-success {
    background-color: #01e727;
}

.resp-wrap {
    display: none;
    margin-top: -20px;
}

.text-danger {
    color: #e70101 !important;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75% !important;
}

.w-50 {
    width: 50% !important;
}

.w-25 {
    width: 25% !important;
}

.d-flex {
    display: flex;
}

.all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-top-padding {
    padding-top: 190px;
    background-color: #fafafa;
}

.banner-container {
    position: relative;
    width: 100%;
    max-height: 100vh;
    outline: none;
}

.banner {
    width: auto;
    height: 100%;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.banner-content {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
    padding: 15px 80px 15px 80px;
    transition: padding 0.3s ease;
    color: #4d4f51;
    position: fixed;
    z-index: 3;
}

.nav-top {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    z-index: 3;
}

.icon-img {
    width: 40px;
    display: block;
    transition: display 0.3s ease;
    opacity: 0.6;
}

.nav-bot {
    display: flex;
    max-width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    transition: height 0.3s ease;
    justify-content: center;
    margin-top: 10px;
    height: 70px;
}

.categ-icon {
    height: 50px;
}

.more-categories {
    position: relative;
    height: 100%;
    cursor: pointer;
}

.categ-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    height: 100%;
    cursor: pointer;
    color: #4d4f51;
}

.categ-wrap:hover .categ-icon {
    filter: invert(1) sepia(1) saturate(100000%) hue-rotate(300deg);
}

.categ-wrap:hover .categ-name {
    color: #FFB786;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 90%;
    width: 30vw;
    overflow-y: auto;
    left: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 99999;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 500px;
}

.account .dropdown-menu {
    height: fit-content;
}

.dropdown-menu::-webkit-scrollbar {
    width: 1px; 
}

.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 5px; 
}

.dropdown-menu::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px; 
}

.dropdown-menu li {
    padding: 12px 16px;
    position: relative; /* Adicionado */
}

.dropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.more-categories:hover .dropdown-menu {
    display: block;
}

.subdropdown-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    height: auto;
    width: 100%;
    overflow-y: auto;
    background-color: #f1f1f1;
    z-index: 3;
    list-style: none;
    padding: 0;
    margin: 0;
}

.subdropdown-menu::-webkit-scrollbar {
    width: 1px; 
}

.subdropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 5px; 
}

.subdropdown-menu::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px; 
}

.subdropdown-menu li {
    padding: 12px 16px;
}

.subdropdown-menu li a {
    text-decoration: none;
    color: black;
    display: block;
}

.subdropdown-menu li:hover {
    background-color: #e9e9e9;
}

.subdropdown-link {
    width: 50%;
}

.subdropdown-link:hover .subdropdown-menu {
    display: block;
}

.categ-name {
    opacity: 0.7;
    font-weight: bold;
}

.nav-logo {
    width: 250px;
    transition: all 1.2s ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dropdown-item {
    padding: 12px 16px;
    color: #333;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Tom escurecido */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 100;
}

.sidebar {
    padding: 30px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    overflow: auto;
    transform: translateX(200%);
    transition: transform 0.3s ease-in-out;
    z-index: 150;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sidebar.active {
    transform: translateX(0);
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.side-account {
    border-top: 1px solid #ccc;
}

.side-categories ul.dropdown-menu-side {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #4d4f51;
}

.side-categories ul.dropdown-menu-side ul.dropdown-menu-side {
    display: none; 
    padding-left: 20px;
    width: 100%;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

.caret-forward {
    transition: all 0.7s ease;
}

.parent-category.open .dropdown-toggle .caret-forward {
    transform: rotate(90deg);
}

.dropdown-toggle {
    height: 50px;
    width: 100%;
    color: #4d4f51;
    display: flex;
    gap: 15px;
}

.side-subcategory {
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.side-categories .parent-category.open > ul.dropdown-menu-side {
    display: block;
}

.side-cubcategory a {
    color: #4d4f51;
}

.nav-link {
    position: relative;
    text-decoration: none;
    color: #4d4f51;
    font-weight: bold;
    padding: 10px 0;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #E74101;
    transition: all 0.5s;
    transform: translateX(-50%);
}

.nav-link:hover {
    opacity: 0.7;
}

.nav-link:hover::after {
    width: 30px;
    opacity: 0.7;
}

.navbar-menu {
    display: none;
    font-size: 35px;
    color: #333;
    cursor: pointer;
}

.close-sidebar {
    font-size: 35px;
    color: #333;
    cursor: pointer;
}

.right-container {
    display: flex;
    align-items: center;
    width: fit-content;
    color: #0a0a0a;
}

.separator {
    width: 1px;
    border-radius: 5px;
    height: 20px;
    background-color: #eee;
    border-radius: 3px;
    margin: 0 15px 0 15px;
}

.search-input {
    position: relative;
    display: inline-block;
    width: 250px;
    transition: all 1.2s ease;
}

.searchbar {
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 2px 10px;
    font-size: 10px;
    transition: all 1.2s ease;
    background-color: #eeeeee;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; 
    font-size: 16px; 
    color: #ccc; 
}

.searchbar:focus {
    border: none;
    outline: none;
    opacity: 0.9;
}

.login-link {
    display: flex;
    transition: all 1.2s ease;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #E74101;
    width: 150px;
    border-radius: 60px;
    border: none;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
    color: #ffffff;
    cursor: pointer;
}

.login-link:hover {
    opacity: 0.8;
}

.footer {
    width: 100%;
    height: 40vh;
    padding: 40px 100px 40px 100px;
    background-color: transparent;
    z-index: 2;
    border-top: 1px solid #e741013d;
}

.company-info {
    margin-top: 40px;
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.footer-img {
    width: 40%;
}

.footer-company {
    color: #E74101;
    opacity: 0.7;
    margin-bottom: 20px;
}

.info-items {
    list-style: none;
    font-size: 0.9em;
}

.info-item {
    padding: 5px;
}

.company-contact {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.company-contact h4 {
    margin-bottom: 8px;
}

.contact-input {
    width: 100%;
    border-radius: 6px;
    height: 40px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #ccc; 
}

.contact-submit {
    background-color: #E74101;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}

.contact-section {
    height: 100%;
    flex-direction: column;
    display: flex;
    width: 30%;
}

.message-input {
    height: 150px;
    border-radius:8px;
    margin-bottom: 10px;
    padding: 10px 10px 5px 10px;
    border: 1px solid #ccc; 
}

.product-card {
    width: 23%; 
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    overflow: hidden;
    cursor: pointer;
    margin: 20px 0;
    transition: all 0.5s ease;
    border: 2px solid #e7420117;
    position: relative;
    box-sizing: border-box;
    min-height: 55vh;
    height: auto;
    background-color: #ffffff;
}

.product-card:hover {
    scale: 1.04;
    background-color: #ffffff;
    border: 2px solid #E74101;
    box-shadow: 0 5px 12px #bebebe;
}

.product-image {
    height: 200px;
    object-fit: contain;
}

.product-img-container {
    text-align: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 20px 0 20px;
}

.product-info {
    padding: 20px;
    text-align: center;
    width: 100%;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.product-name {
    font-size: 1em;
    margin: 10px 0;
    color: #511700;
    min-height: 60px;
}

.product-description {
    font-size: 1em;
    width: 100%;
    display: flex;
    max-height: 60px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 30px !important;
    flex-grow: 1;
}

.product-description small{
    color: #ffffff;
    background-color: #555;
    padding: 8px;
    border-radius: 5px;
    width: fit-content;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.product-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-button:hover {
    background-color: #555;
}

.watermark {
    position: absolute;
    top: 20px;  
    right: 20px;   
    width: 50px;  
    opacity: 0.8;  
    z-index: 2;
}

@keyframes zoomOutSmooth {
    0% {
        transform: scale(1.04);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomInSmooth {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.04);
        opacity: 1;
    }
}

.image-container {
    background-color: #0a0a0a;
    height: 90vh;
    padding-top: 180px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid #E74101;
    opacity: 0.8;
}

.animate__zoomOutSmooth {
    animation: zoomOutSmooth 3.5s ease-out forwards;
    height: 100%;
}

.zoom-in {
    animation: zoomInSmooth 0.5s ease-out forwards;
}

.zoom-out {
    animation: zoomOutSmooth 0.5s ease-out forwards;
}

@media (max-width: 1700px) {
    
    .product-card {
        min-height: 75vh;
    }
    
}

@media (max-width: 1450px) {
    
    .product-card {
        min-height: 60vh;
    }
    
}

@media (max-width: 768px) {

    .banner {
        margin-left: 85px;
    }

    .banner-content {
        width: 70%;
    }

    .product-card {
        min-height: 50vh;
        width: 48%; 
    }

    .product-name {
        font-size: 0.9em;
    }

    .footer-wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .contact-section, .company-contact {
        width: 100%;
    }

    .footer {
        height: auto;
    }

    .right-container, .nav-bot {
        display: none;
    }

    .nav-logo {
        width: 190px;
    }

    .navbar {
        padding: 15px 40px;
    }

    .navbar-menu {
        display: block;
    }

    .footer-img {
        margin-left: 50%;
        transform: translateX(-50%);
        width: 50%;
    }

    .company-info {
        font-size: 0.7em;
    }

    .nav-top-padding {
        padding-top: 100px;
    }
    
}

@media (max-width: 500px) {
    
    .banner {
        width: 170%;
        height: auto;
        margin-left: 60px;
    }

    .product-info {
        padding: 16px;
    }

    .image-container {
        height: 88vh;
    }

    .watermark {
        width: 30px;  
    }

    .product-image {
        height: 150px;
    }

    .product-card {
        min-height: 50vh;
        width: 48%; 
    }

    .product-name {
        font-size: 0.7em;
    }

    .product-description small{
        font-size: 0.5em;
    }

    .product-description {
        padding-bottom: 10px !important;
    }

    .navbar {
        padding: 15px 10px !important;
    }

    .navbar-menu {
        font-size: 35px !important;
    }

    .nav-logo {
        width: 150px;
    }

    .footer {
        padding: 30px 20px;
    }
    
}

@media (max-width: 415px) {
    
    .product-card {
        min-height: 40vh;
    }
    
}
