.nav-top-padding {
    background-color: #0a0a0a !important;
    opacity: 0.9;
}

#products, #products:hover {
    opacity: 0.7;
}

#products:after {
    width: 30px;
    opacity: 0.7;
}

.banner-container {
    height: 60vh;
}

.banner-content {
    left: 65%;
    justify-content: flex-start;
    max-width: 300px; 
}

.banner-content h1 {
    font-size: 0.8em;
    width: 100%;
    letter-spacing: 7px;
}

.banner {
    padding: 30px;
}

.explore-button {
    width: fit-content;
    padding: 0 10px;
    font-size: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    max-height: 100%;
    padding: 20px 0;
    padding-right: 20%;
}

.products-section {
    width: 100%;
    height: fit-content;
    background-color: #f7f7f7;
    padding: 80px 15%;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    flex-wrap: wrap;
}

.pages-container {
    background-color: #f7f7f7;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.page-link {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #bebebe;
    border-radius: 4px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link:hover {
    opacity: 0.8;
}

.page-active {
    background-color: #E74101;
    color: #ffffff;
    width: 38px;
    height: 38px;
}


@media (max-width: 1700px) {
    
    
}

@media (max-width: 1450px) {
    
    
}

@media (max-width: 768px) {
    
    .products-section {
        padding: 70px 40px;
    }
    
}

@media (max-width: 500px) {
    
    .products-section {
        padding: 60px 20px;
    }
    
}

@media (max-width: 415px) {
    
    .products-section {
        padding: 30px 10px;
        gap: 10px;
    }
    
}