.navbar {
    background-color: #252525 !important;
}

.product-caroussel-image-main {
    max-width: 100% !important;
    opacity: 1 !important;
    border-radius: 10px;
}

.slider-nav {
    margin: 0px 5px;
    margin-top: 10px;
    cursor: pointer;
}

.slick-active:not(.is-active) {
    opacity: 0.4;
}

.slick-arrow::before, .slick-dots li.slick-active button:before {
    color:#E74101;
}

.container-wrapper-detail {
    padding: 40vh 120px 10vh 120px;
    background-color: #f7f7f7;
    overflow-x: hidden;
}

.stock-check {
    color: #E74101;
}

.add-to-cart {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.quantity-input {
    display: flex;
    align-items: center;
}
.quantity-input input[type="number"] {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: none;
    text-align: center;
}

.quantity-input input[type="number"]:focus {
   border: none;
   outline: none;
}

.quantity-input button {
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    height: 40px;
}

.add-to-cart button {
    padding: 10px 20px;
    background-color: #E74101;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.7s ease;
    height: 40px;
}

.plus-button {
    margin-right: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.minus-button {
    
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.add-button {
    border-radius: 30px;
}

.add-to-cart button:hover {
    background-color: #aa4017;
}

.add-to-cart button:hover {
    background-color: #aa4017;
}

.specs-container, .product-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail {
    width: 85%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 100px;
}

.top small {
    display: flex;
    align-items: center;
}

.stock-check {
    margin-right: 5px;
}

.info-card {
    background-color: #f3f3f3;
    /* height: 50%; */
    height: fit-content;
    width: fit-content;
    margin-top: 70px;
    border-radius: 10px;
    padding: 35px 20px 35px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divisor {
    background-color: #f3f3f3;
    margin: 25px 0 25px 0;
}

.product-image-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-prod-container {
    width: 40%;
}

.product-details {
    width: 55%;
    padding-left: 20px;
}

.product-details h1 {
    font-size: 24px;
    margin-bottom: 5px;
    width: 100%;
}

.product-details h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.product-details p {
    margin-bottom: 10px;
}

.download-images {
    margin: 30px;
    text-align: center;
}

.download-link {
    padding: 5px 16px;
    background-color: #E74101;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-link:hover {
    background-color: #aa4017;
}

.product-specifications {
    margin: 20px 0;
    font-family: Arial, sans-serif;
    color: #333;
    width: 85%;
}

.spec-category {
    font-size: 1.3em;
    font-weight: bold;
    padding: 10px;
}

.spec-table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
    background-color: #f3f3f3;
}

.spec-table th, .spec-table td {
    border: 1px solid #dddddd;
}

.spec-table td {
    padding: 10px;
    text-transform: uppercase;
    width: 50%;
    font-size: 0.8em;
}

.spec-table tr {
    border-bottom: 1px solid #dddddd;
}

@media (max-width: 1700px) {
    
    
}

@media (max-width: 1450px) {
    
    
}

@media (max-width: 768px) {
    
    .product-detail {
        flex-direction: column;
    }

    .container-wrapper-detail {
        padding: 150px 0;
    }
    
    .img-prod-container, .product-details {
        width: 100%;
    }

    .spec-table {
        display: flex;
        flex-direction: column;
    }

    .spec-table thead {
        display: none;
    }

    .spec-table tr {
        display: flex;
        flex-direction: column;
        border: 1px solid #dddddd;
        margin-bottom: 10px;
    }

    .spec-table td {
        display: flex;
        justify-content: start;
        padding: 10px 20px;
        border: none;
        width: 100%;
        border-bottom: 1px solid #dddddd;
    }

    .spec-table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 10px;
        color: #666;
    }
}

@media (max-width: 500px) {
    
    
    
}