.navbar {
    padding: 12px 80px 12px 80px;
    box-shadow: 1px 1px 10px #eee;
}

.nav-bot {
    height: 30px;
}

.icon-img, .categ-icon {
    display: none;
}

.nav-logo {
    width: 200px
}

.cpf-data, .cnpj-data {
    display: none;
    width: 100% !important;
}

.register-container {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    padding: 50px 0 50px 0;
    padding-top: 100px;
    overflow-x: hidden;
}

.container {
    display: flex;
    width: 40%;
    height: 70%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.register-form {
    width: 80%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0 40px 0;
}

.logo-google {
    cursor: pointer;
    font-size: 30px;
    padding: 10px;
    border-radius: 100%;
    transition: all 0.7s ease;
    margin-top: 5px;
}

.logo-google:hover {
    background-color: #E74101;
    color: #ffffff;
}

.register-form div, .register-form form {
    width: 90%;
    text-align: center;
}

.register-form h2 {
    margin-bottom: 20px;
}

.register-form label {
    text-align: left;
    display: block;
    margin-bottom: 8px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.divider {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}

.separator {
    background-color: #b1b1b1;
    height: 1px;
}

footer, .right-container {
    display: none;
}

.register-button {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 2px solid rgb(81, 86, 91);
    color: rgb(81, 86, 91);
    cursor: pointer;
    transition: all 0.7s ease;
    font-weight: bold;
}

.register-button:hover {
    background-color: #E74101;
    border: 2px solid #E74101;
    color: #ffffff;
}

.checkbox-input {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.checkbox-input label {
    width: 90%;
}

.checkbox-input input {
    width: 10%;
}

.password-wrap {
    width: 100% !important;
    margin-bottom: 20px;
}

.password-wrap input {
    margin-bottom: 0;
}

.password-wrap a {
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: end;
}

.login-link-redirect {
    width: 100% !important;
    margin-top: 10px;
}

.phone-group {
    gap: 5px;
    width: 100% !important;
}

#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#phone {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}